@use "var";
@use "animations";

.cart {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset:0;
    width: 100%;
    height: 100%;
    z-index: 10002;
    opacity: 0;
    transition: 0.7s ease-in-out all;
    .cartBlock {
        width: 80%;
        max-height: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: var.$padding-page;
        border-radius: var.$border-radius;
        background-color: white;
        border: 1px solid #e0e0e0;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        .firstStage {
            justify-content: center !important;
            align-items: center !important;
        }
        .secondStage {
            display: none;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
            &.active {
                display: grid !important;
            }
            .right {
                width: 100%;
                height: 100%;
                .yMap {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .thirdStage {
            align-items: flex-start !important;
            h2 {
                font-size: 24px;
                margin-bottom: 20px;
                color: #333;
            }
            .summaryItem {
                font-size: 16px;
                margin: 10px 0;
                line-height: 1.5;
                + .summaryItem {
                    border-top: 1px solid #e0e0e0;
                    padding-top: 10px;
                }
                strong {
                    color: #555;
                }
            }

            .summaryItem:last-child {
                border: none;
            }

        }
        .infoOrder {
            display: none;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            .table {
                max-height: 50vh;
                overflow-y: auto;
                width:100%;
                text-align: left;
                border-radius: var.$border-radius-elements;
                background-color: var.$secondary-color;
                box-shadow: var.$box-shadow-block;
                margin-bottom: var.$margin-h1;
                table {
                    width: 100%;
                    border-collapse: collapse;
                    th, td {
                        text-align: left;
                        padding: var.$padding-elements;
                    }
                    thead {
                        tr {
                            box-shadow: var.$box-shadow-block;
                            position: sticky;
                            top: 0;
                            z-index: 10;
                        }
                        th {
                            background: var.$primary-color;
                            padding: var.$padding-elements;
                        }
                    }
                    tbody tr:hover {
                        background-color: white;
                    }
                    .invalid {
                        color: var.$invalid-color !important;
                        border: 1px solid var.$invalid-color !important;
                    }
                    input[type="number"] {
                        width: 50px;
                        padding: 5px;
                        border: 1px solid #ccc;
                        border-radius: 8px;
                    }

                    button.remove {
                        border: none;
                        background-color: #e49c95;
                        color: white;
                        padding: 6px 10px;
                        border-radius: 4px;
                        cursor: pointer;
                        transition: background-color 0.3s;
                    }

                    button.remove:hover {
                        background-color: #c0392b;
                    }
                }
            }
            .tradingPoints {
                display: none !important;
                &.visible {
                    display: flex !important;
                }
            }
            .result {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: var.$margin-text;
                width: 50%;
            }
            .promo {
                display: flex;
                gap: var.$margin-text;
                input {
                    padding: var.$padding-elements;
                    transition: background .5s;
                    text-transform: uppercase;
                }
                button {
                    border-style: none;
                    padding: var.$padding-elements;
                    background: var.$secondary-color;
                    color: black;
                    transition: background .5s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: var.$margin-text;
                    span {
                        color:red;
                    }
                }
            }
            .number {
                input {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    margin-bottom: 15px;
                    transition: border-color 0.3s;
                    &:focus {
                        border-color: var.$primary-color;
                        outline: none;
                    }
                }
            }
            .error {
                color: var.$invalid-color;
            }
            .type {
                .typePick {
                    flex-direction: column;
                }
                div {
                    display: flex;
                    flex-wrap: wrap;
                    gap: var.$margin-text;
                    margin-top: var.$margin-text;
                    input {
                        display: none;
                        &:checked + label {
                            background-color: green !important;
                            color: white !important;
                        }
                    }
                    label {
                        padding: var.$padding-elements;
                        background-color: var.$secondary-color;
                        transition: var.$transition-base;
                    }
                    .socials {
                        display: none;
                        &.visible {
                            display: flex;
                        }
                    }
                }
            }
            .location {
                margin-top: var.$margin-text;
                display: none;
                grid-template-columns: 45% 45%;
                grid-gap: var.$margin-text;
                background-color: #f9f9f9;
                padding: 20px;
                border-radius: 8px;
                box-shadow: var.$box-shadow-block;
                margin-bottom: 20px;
                label {
                    font-weight: bold;
                    margin-bottom: 5px;
                    display: block;
                }
                input {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    margin-bottom: 15px;
                    transition: border-color 0.3s;
                    &:focus {
                        border-color: var.$primary-color;
                        outline: none;
                    }
                }
                &.visible {
                    display: grid;
                }
                div {
                    display: flex;
                    align-items: center;
                    gap: var.$margin-text;
                    padding: var.$padding-elements;
                    label {

                    }
                    input {

                    }
                }
            }
            .next,
            .back,
            .submit{
                color:black;
                margin-top: var.$margin-h1;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: var.$margin-text;
                background-color: var.$secondary-color;
                padding: var.$padding-elements;
                border-radius: var.$border-radius;
            }
            &.active {
                display: flex;
            }
            .buttons {
                display: flex;
                gap: var.$margin-h1;
                .load {
                    @include animations.loadSkeleton;
                }
            }
        }
    }
    &.visible {
        display: flex;
        opacity: 1;
        background-color: var.$secondary-color;
    }
}


@media (max-width: 830px) {
    .cart .cartBlock .secondStage {
        grid-template-columns: 90% 90%;
    }
    .cart .cartBlock {
        width: 100%;
        padding: 5%;
    }
    .infoOrder .table .price {
        display: none;
    }
}
@media (max-width: 420px) {
    .cart .cartBlock .infoOrder .promo {
        flex-direction: column;
    }
}
