// стили для каждого компонента необходимого для этого проекта, включая кнопки, модальные окна и т.д.
@use "app";
@use "mixin";
@use "animations";
.root {
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(243, 243, 243, 0.1);
    position: relative;
    background-image: url('../../public/image/background-images/fruits_veg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.mainDiv {
    display: none;
    width: 60%;
    height: 60%;
    inset:0;
    margin: auto;
    border-radius: app.$border-radius;
    position: relative;
    box-shadow: app.$box-shadow-block;
}
.mainSignIn,
.mainCreateAcc{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transition: app.$transition-block-move;
}
.mainCreateAcc {
    display: none;
}
.createAcc {
    border-radius: app.$border-radius 0 0 app.$border-radius ;
    text-align: center;
}
.reset {
    padding: app.$padding;
    background-color: white;
    border-radius: app.$border-radius;
    transition: app.$transition-block-move;
    width: 100%;
    height: 100%;
    .buttonToSignIn {
        color: black;
        background-color: #ff9a00;
    }
}
.display {
    display: block;
}
.secondBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    z-index: 20;
    position: relative;
    padding: app.$padding;
    color: white;
    width: 40%;
    .note {
        color: white;
    }
    h1 {
        margin-bottom: app.$margin-h1;
    }
}
.back {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    z-index: 100;
    top: 20px;
    right: 20px;
    color: black;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    z-index: 100;
    img {
        width: 45px;
        position: relative;
        top: 20px;
        left: 20px;
    }
}
.panel {
    mask-image: linear-gradient(white, transparent);
    background-color: app.$primary-color;
    height: 100%;
    width: 40%;
    position: absolute;
    z-index: 15;
    border-radius: app.$border-radius 0 0 app.$border-radius;
    transition: app.$transition-block-move-another;
}
.signIn,
.createAcc {
    width: 60%;
    padding: app.$padding;
    background-color: white;
    border-radius: 0 app.$border-radius app.$border-radius 0;
    transition: app.$transition-block-move;
    h1 {
        margin-bottom: app.$margin-h1;
    }
}

// Форма ввода

.input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: app.$input-padding;
}
.inputLabel {
    color: app.$note-color;
    position: absolute;
    top: app.$input-padding;
    transition: app.$transition-base ease;
    padding: 0 0 0 5px;
}
.inputField {
    appearance: none;
    border-radius: 0;
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font: inherit;
    padding: .25rem 5px;
    &:focus,
    &:valid:not(.invalid) {
        @include mixin.check-input-field("focus")
    }
}
.invalid {
    @include mixin.check-input-field("invalid")
}
.buttonGoToSignIn,
.buttonGoToSignUp,
.buttonSign,
.buttonToSignUp,
.buttonToSignIn {
    border-radius: app.$border-radius-elements;
    background-color: app.$primary-color;
    color: white;
    border: 0;
    padding: app.$padding-elements;
    margin-top: app.$margin-text;
}
.buttonGoToSignIn,
.buttonGoToSignUp {
    display: none;
    color: black;
    background-color: app.$third-color;
}
.blockButtonSignIn {
    text-align: center;
    margin: auto;
}
.blockButtonSignUp {
    margin-bottom: app.$margin-text;
}
.loading {
    @include animations.loadSkeleton;
}
.buttonToSignUp,
.buttonToSignIn {
    border: 1px solid white;
    text-align: center;
    background-color: transparent;
}

.secondaryElement {
    margin-top: app.$margin-text;
}

.note {
    color: app.$note-color;
    text-align: center;
    a {
        color: app.$primary-color;
    }
}
.fromAcc {
    margin: auto;
    text-align: center;
    margin-bottom: app.$margin-text;
    .icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: app.$margin-text;
        img {
            max-width: clamp(80px,10vw,350px);
            border-radius: 50%;
            padding: app.$padding;
            filter: invert(100%);
        }
    }
}
.errors,
.errorEmail {
    text-align: center;
    margin-top: app.$margin-text;
    color: app.$invalid-color;
}

@media (max-width: 900px) {
    .mainDiv {
        width: 90%;
    }
}
@media (max-width: 540px) {
    .mainDiv {
        width: 100%;
    }
}
@media (max-width: 497px) {
    .mainDiv {
        width: 90%;
    }
    .panel {
        display: none;
    }
    .secondBlock {
        display: none;
    }
    .mainSignIn .signIn {
        width: 100%;
        border-radius: 30px !important;
        h1 {
            text-align: center;
        }
    }
    .formLogin {
        text-align: center;
    }
    .mainCreateAcc .createAcc {
        width: 100%;
        border-radius: 30px !important;
    }
    .buttonGoToSignIn,
    .buttonGoToSignUp {
        display: inline-block;
    }
}
