// стили для каждого компонента необходимого для этого проекта, включая кнопки, модальные окна и т.д.
@import "app";
#root {
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(243, 243, 243, 0.1);
    position: relative;
    background-image: url('../../public/image/background-images/fruits_veg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#main_div {
    display: flex;
    width: 60%;
    height: 60%;
    inset:0;
    margin: auto;
    border-radius: $border-radius;
    position: relative;
    box-shadow: 2px 2px 10px 0 rgba(#333, 0.2);
}
#main_sign_in,
#main_create_acc{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transition: $transition-block-move;
}
#main_create_acc {
    display: none;
}
#create_acc {
    border-radius: $border-radius 0 0 $border-radius ;
    text-align: center;
}
.second_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    z-index: 20;
    position: relative;
    padding: $padding;
    color: white;
    width: 40%;
}
.second_block h1 {
    margin-bottom: $margin-h1;
    @include font-size($font-size-h1);
}
#logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    z-index: 100;
}
#logo img {
    width: 45px;
    position: relative;
    top: 20px;
    left: 20px;
}
.panel {
    mask-image: linear-gradient(white, transparent);
    background-color: $primary-color;
    height: 100%;
    width: 40%;
    position: absolute;
    z-index: 15;
    border-radius: $border-radius 0 0 $border-radius;
    transition: $transition-block-move-another;
}
#sign_in h1,#create_acc h1 {
    margin-bottom: $margin-h1;
}
#sign_in,#create_acc {
    width: 60%;
    padding: $padding;
    background-color: white;
    border-radius: 0 $border-radius $border-radius 0;
    transition: $transition-block-move;
}

// Форма ввода
#form_registration form{
    @include font-size($font-size-base);
}
.input-field {
    appearance: none;
    border-radius: 0;
}
.input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: $input-padding;
}
.input-label {
    @include font-size($font-size-base);
    color: $note-color;
    position: absolute;
    top: $input-padding;
    transition: $transition-base ease;
    padding: 0 0 0 5px;
}
.input-field {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font: inherit;
    @include font-size($font-size-base);
    padding: .25rem 5px;
    &:focus, &:valid {
        @include check-input-field("focus")
    }

}
.invalid {
    @include check-input-field("invalid")
}
.button_sign,#button_to_sign_up,#button_to_sign_in {
    border-radius: $border-radius-elements;
    background-color: $primary-color;
    color: white;
    border: 0;
    padding: $padding-elements;
    margin-top: $margin-text;
}
#block_button_sign_in {
    text-align: center;
    margin: auto;
}
#block_button_sign_up {
    margin-bottom: $margin-text;
}
#button_to_sign_up,#button_to_sign_in {
    border: 1px solid white;
    text-align: center;
    background-color: transparent;
}

.secondary-element {
    margin-top: $margin-text;
}
.second_block .note {
    color: white;
}
.note {
    color: $note-color;
    text-align: center;
    @include font-size($font-size-note);
}
.from_acc .icons img {
    max-width: clamp(80px,10vw,350px);
    border-radius: 50%;
    padding: $padding;
    filter: invert(100%);
}
.from_acc {
    margin: auto;
    text-align: center;
    margin-bottom: $margin-text;
}
.from_acc .icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: $margin-text;
}

