@import "app";
@import "animations";
@import "search";
@import "products";
@import "product";
@import "cart";
body {
    overflow: auto;
}
#root {
    justify-content: space-between;
    overflow-x: hidden;
    background-image: url("../../public/image/background-abstact/5652356.webp");
    background-repeat: repeat;
}
header {
    position: relative;
}

.show {
    .filter {
        display: block;
    }
    .search {
        display: block;
    }
}
#infoProducts {
    width: 100%;
    .content {
        width: 100%;
        height: 100%;
        .cards {
            display: grid;
            grid-template-columns: 50% 45%;
            margin: auto;
            grid-gap: 5%;
            width: 100%;
            height: 100%;
            .infoCard:first-child {
                grid-row: span 2;
            }
            .infoCard {
                padding: $padding;
                border-radius: $border-radius;
                background-color: rgb(255, 248, 240,0.8);
                box-shadow: $box-shadow-elements;
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                position: relative;
                .star {
                    position: absolute;
                    top: $padding-elements;
                    right: $padding-elements;
                    z-index: 4;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    span {
                        color: green;
                    }
                }
                .leftSide {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    h4 {
                        color: $note-color;
                    }

                    h1 {
                    }

                    h3 {
                        margin-top: $margin-h1;
                        border-radius: $border-radius;
                        text-wrap: nowrap;
                        background-color: rgba(0, 0, 0, 0.03);
                        padding: $padding-elements;
                    }

                    button {
                        margin-top: $margin-h1;
                        text-transform: uppercase;
                        border-bottom: 2px solid black;
                    }
                }
                .rightSide {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        position: absolute;
                        left: 20%;
                    }
                }
            }
        }
    }
}

#main {
    width: 100%;

    .content {
        padding: $padding-page;

        #filter {
            padding: $padding-page 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .mainType {
                display: flex;
                flex-direction: row;
                align-items: center;

                input[type="checkbox"]:checked {
                    + label {
                        background-color: green !important;
                        color: white !important;
                    }
                }
                div:not(:last-child) {
                    margin-right: $margin-text;
                }
                input {
                    display: none;
                }
                label {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $secondary-color;
                    box-shadow: $box-shadow-elements;
                    padding: $padding-elements;
                    border-radius: $border-radius-elements;
                }
            }

            .tree {
                display: flex;

                .enabled {
                    background-color: green !important;
                    color: white !important;
                }
                .filter,
                .sort, {
                    position: relative;
                    .iconTree {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: $border-radius-elements;
                        padding: $padding-elements;
                        background-color: $secondary-color;
                        box-shadow: $box-shadow-elements;
                        cursor: pointer;
                        transition: $transition-base all;
                        &.open {
                            filter: brightness(0.95);
                        }
                    }

                    .active {
                        display: block;
                        transform: translateY(7vh);

                        .blocksTree {
                            display: grid;
                        }
                    }
                }

                .filter {
                    margin-right: $margin-text;
                }
            }

            .contentTreeSort,
            .contentTreeFilter {
                display: none;
                padding: $padding-elements;
                background-color: rgb(255, 255, 255);
                box-shadow: $box-shadow-elements;
                z-index: 25;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                top: 0;
                right: 0;
                border-radius: $border-radius-elements;
                position: absolute;
                transition: $transition-base all ease;

                .textTree {
                    text-align: left;
                    font-weight: 600;
                }

                .blocksTree {
                    grid-template-columns: 40% 40%;
                    justify-content: center;
                    grid-gap: $margin-text;

                    button {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: $padding-elements;
                        border-radius: $border-radius-elements;
                        background-color: $secondary-color;
                        transition: $transition-base;
                        &.open {
                            filter: brightness(0.95);
                        }
                        &.enabled {
                            background-color: green !important;
                            color: white !important;
                        }
                    }
                    div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: $padding-elements;
                        width: 100%;
                        label {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: $padding-elements;
                            border-radius: $border-radius-elements;
                            background-color: $secondary-color;
                        }
                        input {
                            display: none;

                            &:checked {
                                + label {
                                    background-color: green !important;
                                    color: white !important;
                                }
                            }
                        }
                    }
                }
                .costTree,
                .rateTree,
                .colorsTree,
                .countriesTree {
                    display: none;
                    input {
                        padding: 5px 15px;
                        border-radius: $border-radius-elements;
                        border: 1px solid green;
                    }
                    #colors {
                        label {
                            margin-left: $margin-text;
                        }
                    }
                    &.open {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}
.grey {
    color: transparent !important;
    @include loadSkeleton;
    box-shadow: unset !important;
}
#usableItems {
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 10009;
    display: flex;
    gap: $margin-text;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
}
#openCart,
#close{
    display: none;
    border-radius: $border-radius-elements;
    padding: $padding-elements;
    background-color: $secondary-color;
    &.visible {
        display: block !important;
    }
}
#aboutProductModule {
    position: fixed;
    transform: translateX(100%);
    transition: 1s ease-in-out all;
    bottom: 0;
    right: 0;
    top: 0;
    width: 45%;
    overflow-y: scroll;
    height: 100%;
    z-index: 10002;
    background-color: white;
    border-radius: $border-radius-elements 0 0 $border-radius-elements;
    background-size: cover;
    background-repeat: no-repeat;
    #aboutProduct {
        padding: $padding-elements;

        img {
            height: 30vh;
        }
        .buy-button {
            @include buttonsCart("add")
        }
        #feedbacks {
            margin-bottom: 12vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: $margin-text;
            .feedback {
                padding: $padding-elements;
                border-radius: $border-radius;
                background-color: $secondary-color;
                position: relative;
                .star {
                    position: absolute;
                    right: $padding-elements;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    span {
                        color: green;
                    }
                }
                .username {
                    text-transform: uppercase;
                }
                .message {
                    padding-left: $padding-elements;
                }
            }
        }
    }
    &.visible {
        transform: translateX(0%);
    }

}
#cart {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset:0;
    width: 100%;
    height: 100%;
    z-index: 10001;
    opacity: 0;
    transition: 0.7s ease-in-out all;
    #cartBlock {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: $padding-page;
        border-radius: $border-radius;
        background-color: white;
        table {
            width: 100%;
            .quantity input {
                border: 0;
                text-align: center;
                width: min-content;
            }
        }
        .infoOrder {
            display: none;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            margin-top: $margin-h1;
            .result {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: $margin-text;
                width: 50%;
            }
            .promo {
                display: flex;
                gap: $margin-text;
                input {
                    padding: $padding-elements;
                    transition: background .5s;
                    text-transform: uppercase;
                }
                button {
                    border-style: none;
                    padding: $padding-elements;
                    background: $secondary-color;
                    color: black;
                    transition: background .5s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: $margin-text;
                    span {
                        color:red;
                    }
                }
            }
            .type {
                div {
                    display: flex;
                    gap: $margin-text;
                    margin-top: $margin-text;
                    input {
                        display: none;
                        &:checked + label {
                            background-color: green !important;
                            color: white !important;
                        }
                    }
                    label {
                        padding: $padding-elements;
                        background-color: $secondary-color;
                        transition: $transition-base;
                    }
                }
            }
            .location {
                margin-top: $margin-text;
                display: grid;
                grid-template-columns: 45% 45%;
                grid-gap: $margin-text;
                div {
                    display: flex;
                    align-items: center;
                    gap: $margin-text;
                    padding: $padding-elements;
                    label {

                    }
                    input {

                    }
                }
            }
            .next,
            .back,
            .submit{
                margin-top: $margin-h1;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: $margin-text;
                background-color: $secondary-color;
                padding: $padding-elements;
                border-radius: $border-radius;
            }
            &.active {
                display: flex;
            }
            .buttons {
                display: flex;
                gap: $margin-h1;
            }
        }
    }
    &.visible {
        display: flex;
        opacity: 1;
        background-color: $secondary-color;
    }
}
