// стили для каждого компонента необходимого для этого проекта, включая кнопки, модальные окна и т.д.
@import "app";
#root {
    justify-content: flex-start;
    height: 100%;
}
#body {
    width: 100%;
    height: 100%;
}
#oneWidth {
    max-width: 1600px;
    width: 100%;
    padding: 0 $padding-page;
}
#bg {
    background-image: url("../../public/image/background-images/fruitsWwhitebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}
#targetBlock {
    position: relative;
    top: 40vh;
    margin-top: 0;
}
.block {
    margin-top: $margin-top-block;
}
