// содержит переменные, сбросы, миксины и другие подобные стили
$primary-color: #ff9a00;
$secondary-color: #e4b47d;
$third-color: #ffdc00;
$note-color: #8597a3;

$font-weight-base: 500;
$font-weight-bold: 700;
$font-size-h1: 38px;
$font-size-note: 14px;
$font-size-base: 18px;

$margin-text: 16px;
$margin-h1: 36px;
$margin-top-block: 15%;
$margin-header: 7%;

$padding-page: 55px;
$padding: 30px;
$padding-headers: 10px;
$padding-elements: 15px;

$perspective: 300px;

$border-radius: 30px;
$border-radius-elements: 20px;

$line-height-base: 1.2;
$line-height-h1: 0.8;

$width-icon: 35px;

$invalid-color: red;
$input-padding: 1.5rem;

$transition-load: .4s all ease;
$transition-base: .3s;
$transition-block-move: .35s all linear;
$transition-block-move-another: .6s all linear;

// Миксины
@mixin check-input-field($field) {
    $color: $primary-color;
    @if $field == "invalid" {
        $color: $invalid-color;
    }
    outline: 0;
    border-bottom-color: $color;
    &+.input-label {
        color: $color;
        transform: translateY(-$input-padding);
    }
}
// сброс
*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    overflow-y: scroll;
}
html {
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#root {
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(243, 243, 243, 0.1);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: $secondary-color;
}
// Основа
body {
    font-family: "DM Sans", sans-serif;
    line-height: $line-height-base;
}
.highlight {
    color: $primary-color;
}
.content {
    padding: 0 $padding-page;
    width: 100%;
    height: 100%;
}
h1 {
    font-size: $font-size-h1;
}
h2 {
    margin-top: $margin-text;
}
.void {
    height: 20vh;
}
.background {
    width: 100%;
    height: 100vh;
}

.block {
    margin-top: $margin-top-block;
    width: 100%;
}
.dot {
    display: flex;
    background-color: transparent;
    border: 2px solid $primary-color;
    padding: 6px;
    width: 3px;
    border-radius: 50%;
    &:not(.active) {
        padding: 4px;
        border: 2px solid black;
    }
}
.dotsLayout {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
}
