// содержит стили для хедера и футера, сетки и т.д
#bgFooter {
    width: 100%;
    background-color: $secondary-color;
    padding: $padding-page 0 0;
}
footer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: $margin-h1;
}
footer div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: $margin-text;
}
footer div h2 {
    margin-top: 0;
}
footer div a {
    color: black;
    display: block;
}
footer div p {

}
