// содержит стили для хедера и футера, сетки и т.д
@use "var";
header {
    width: 100%;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: var.$margin-h1;
    z-index: 10001;
    position: absolute;
    padding: 0 var.$padding-page;
    a {
        color: black;
    }
}
.logo {
    position: relative;
    cursor: pointer;
    padding: var.$padding-headers;
    display: flex;
    gap: var.$margin-h1;
    align-items: center;
    font-size: var.$font-size-h1;
}
.logo img {
    position: relative;
    width: 45px;
}
.hHead {
    display: flex;
    gap: var.$margin-h1;
}
.hSection {
    transition: .7s box-shadow ease;
    cursor: pointer;
    border: 1px solid rgba(#333, 0.2);
    padding: var.$padding-headers;
    border-radius: var.$border-radius-elements;
    box-shadow: 2px 2px 10px 0 rgba(#333, 0.2);
    &:hover {
        box-shadow: none;
        border: 1px solid transparent;
    }
}
.burger {
    display: none;
}
.burger img {

}
