#tableProducts {
    display: flex;
    gap: $padding-elements;
    flex-wrap: wrap;
    position: relative;
    .grey_card {
        display: flex;
        align-items: center !important;
        justify-content: space-between !important;
    }
}
