@use "var";
@use "mixin";

.products {
    position: relative;
    flex: 1 1 19%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var.$box-shadow-elements;
    //backdrop-filter: blur(6px);
    border-radius: var.$border-radius-elements;
    .error {
        text-align: center;
        color: var.$invalid-color;
    }
    .imgProducts {
        width: 100%;
        border-radius: var.$border-radius-elements var.$border-radius-elements 0 0;
        height: 35vh;
        position: relative;
        .star {
            position: absolute;
            top: var.$padding-elements;
            left: var.$padding-elements;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            span {
                color: green;
            }
        }
        img {
            border-radius: var.$border-radius-elements var.$border-radius-elements 0 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }
    .textProducts {
        text-align: center;
        font-size: var.$font-size-h1;
        margin: 10% auto;
    }
    .priceProducts {
        text-align: center;
        font-size: var.$font-size-h1;
        margin: 0 auto 10%;
    }
    .buttonsProducts {
        display: flex;
        flex-direction: column;
        font-size: var.$font-size-h3;
        gap: var.$padding-elements;
        padding: 0 var.$padding-elements var.$padding-elements;
        .addCart {
            @include mixin.buttonsCart("add")
        }
        .aboutProducts{
            @include mixin.buttonsCart("")
        }
    }
}

@media (max-width: 530px) {
    .textProducts,
    .priceProducts {
        margin: 2% auto !important;
    }
    .buttonsProducts {
        padding: 5px !important;
        .addCart,
        .aboutProducts {
            text-wrap: wrap !important;
        }
    }
}
